{% extends "layout2.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<h1 class="text-center">Change Password</h1><br>
    <form action="/account/password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="password" placeholder="Old Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="newpassword" placeholder="New Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirm New Password" type="password" required>
        </div>
        <div class="d-grid gap-2 col-3 mx-auto">
            <button class="form-control btn btn-success" type="submit">Save New Password</button>
        </div>
    </form>
{% endblock %}
